/**
 * ==================
 * MAIN STYLUS FILE
 * ==================
 */

@import './colors'
@import './theme'

html, body {
  margin: 0!important;
  padding: 0!important;

  font-family: 'Avenir', Helvetica, Arial, sans-serif!important
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: #2c3e50

  background-color: extraLight($gray)
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}
