@import './vars'


/**
 * TYPO
 */
$main-font-family = "Helvetica Neue"
$fallback-font-family = Helvetica
$last-chance-font-family = Arial

$main-title-size = $extra-large
$title-size = $large
$small-title-size = $medium
$body-size = $small
$small-body-size = $extra-small
$super-small-body-size = $super-small

/**
 * MENU
 */
$menu-height = 100px
$menu-background = $primary
$menu-item-color = $white
$menu-item-font-weight = 500

/**
 * OTHER STYLES HERE
 */
